USE master
GO

CREATE DATABASE ORDENESCOMPRA_DESAPPULTGEN
GO


USE ORDENESCOMPRA_DESAPPULTGEN
GO

CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Prim_Apellido] [nvarchar](50) NOT NULL,
	[Seg_Apellido] [nvarchar](50) NOT NULL,
	[Estado] [char](1) NOT NULL,
	[Password] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Auditoria](
	[Id_Auditoria] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Accion] [char](1) NOT NULL,
	[Descripción] [nvarchar](500) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Auditoria] PRIMARY KEY CLUSTERED 
(
	[Id_Auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_Usuarios] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuarios] ([Id_Usuario])
GO

ALTER TABLE [dbo].[Auditoria] CHECK CONSTRAINT [FK_Auditoria_Usuarios]
GO


CREATE TABLE [dbo].[Proveedores](
	[Id_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[Proveedor] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](8) NOT NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[Pais] [nvarchar](3) NOT NULL,
	[Direccion] [nvarchar](500) NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[Ordenes](
	[Id_Orden] [int] IDENTITY(1,1) NOT NULL,
	[Solicitante] [nvarchar](50) NOT NULL,
	[DiasCredito] [int] NOT NULL,
	[Fecha_Orden] [date] NOT NULL,
	[Id_Proveedor] [int] NOT NULL,
	[TipoOrden] [char](1) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Ordenes] PRIMARY KEY CLUSTERED 
(
	[Id_Orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD  CONSTRAINT [FK_Ordenes_Proveedores] FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[Proveedores] ([Id_Proveedor])
GO

ALTER TABLE [dbo].[Ordenes] CHECK CONSTRAINT [FK_Ordenes_Proveedores]
GO



CREATE TABLE [dbo].[Productos](
	[Id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[Estado] [char](1) NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Productos_X_Orden](
	[Id_Producto_Orden] [int] IDENTITY(1,1) NOT NULL,
	[Id_Producto] [int] NOT NULL,
	[Id_Orden] [int] NOT NULL,
 CONSTRAINT [PK_Productos_X_Orden] PRIMARY KEY CLUSTERED 
(
	[Id_Producto_Orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Productos_X_Orden]  WITH CHECK ADD  CONSTRAINT [FK_Productos_X_Orden_Ordenes] FOREIGN KEY([Id_Orden])
REFERENCES [dbo].[Ordenes] ([Id_Orden])
GO

ALTER TABLE [dbo].[Productos_X_Orden] CHECK CONSTRAINT [FK_Productos_X_Orden_Ordenes]
GO

ALTER TABLE [dbo].[Productos_X_Orden]  WITH CHECK ADD  CONSTRAINT [FK_Productos_X_Orden_Productos] FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Productos] ([Id_Producto])
GO

ALTER TABLE [dbo].[Productos_X_Orden] CHECK CONSTRAINT [FK_Productos_X_Orden_Productos]
GO



CREATE TABLE [dbo].[Modulos](
	[Id_Modulo] [int] IDENTITY(1,1) NOT NULL,
	[Modulo] [nvarchar](50) NOT NULL,
	[ClaseCSS] [varchar](100) NULL,
	[Enlace] [varchar](100) NULL,
 CONSTRAINT [PK_Modulos] PRIMARY KEY CLUSTERED 
(
	[Id_Modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Modulos] ADD  DEFAULT ('') FOR [ClaseCSS]
GO

ALTER TABLE [dbo].[Modulos] ADD  DEFAULT ('') FOR [Enlace]
GO


CREATE TABLE [dbo].[Modulos_X_Usuario](
	[Id_Modulo_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Id_Modulo] [int] NOT NULL,
 CONSTRAINT [PK_Modulos_X_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id_Modulo_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Modulos_X_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Modulos_X_Usuario_Modulos] FOREIGN KEY([Id_Modulo])
REFERENCES [dbo].[Modulos] ([Id_Modulo])
GO

ALTER TABLE [dbo].[Modulos_X_Usuario] CHECK CONSTRAINT [FK_Modulos_X_Usuario_Modulos]
GO

ALTER TABLE [dbo].[Modulos_X_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Modulos_X_Usuario_Usuarios] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuarios] ([Id_Usuario])
GO

ALTER TABLE [dbo].[Modulos_X_Usuario] CHECK CONSTRAINT [FK_Modulos_X_Usuario_Usuarios]
GO


----PROCEDIMIENTOS CRUD INICIO SESION
CREATE PROCEDURE [dbo].[USP_InicioSesion_Usuarios]
(
@Correo varchar(50),
@Password varchar(25)
)
AS BEGIN 
DECLARE @IdUsuario int
DECLARE @Estado char(1)
BEGIN TRY

	IF EXISTS(SELECT Id_Usuario FROM Usuarios WHERE Correo=@Correo and Password=@Password) 
	BEGIN
		SELECT @IdUsuario=Id_Usuario, @Estado=Estado FROM Usuarios WHERE Correo=@Correo and Password=@Password

		IF @Estado='A'
		BEGIN
			SELECT @IdUsuario

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @USRNOM VARCHAR(300)
			DECLARE @ACC CHAR(1)

			SELECT @USRNOM = Nombre + ' ' + Prim_Apellido + ' ' + Seg_Apellido FROM Usuarios Where Id_Usuario=@IdUsuario
			SET @DSC = 'Inicio de Sesión del Usuario: ' + CONVERT(VARCHAR,@USRNOM)
			SET @ACC = 'I'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------

		END
		ELSE
		BEGIN
			SELECT -1
		END
	END
	ELSE
	BEGIN
		SELECT 0
	END
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_CierraSesion_Usuarios]
(
@IdUsuario INT
)
AS BEGIN 
DECLARE @Estado char(1)
BEGIN TRY

	IF EXISTS(SELECT Id_Usuario FROM Usuarios WHERE Id_Usuario=@IdUsuario) 
	BEGIN
			SELECT @IdUsuario

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @USRNOM VARCHAR(300)
			DECLARE @ACC CHAR(1)

			SELECT @USRNOM = Nombre + ' ' + Prim_Apellido + ' ' + Seg_Apellido FROM Usuarios Where Id_Usuario=@IdUsuario
			SET @DSC = 'Cierra de Sesión del Usuario: ' + CONVERT(VARCHAR,@USRNOM)
			SET @ACC = 'I'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
	END
	ELSE
	BEGIN
		SELECT 0
	END
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Usuarios]
(
@IdUsuario INT
)
AS BEGIN 

SELECT [Id_Usuario]
      ,[Nombre]
	  ,[Prim_Apellido]
	  ,[Seg_Apellido] 
	  ,[Correo]
	  ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
	  ,[Password]
  FROM [dbo].[Usuarios]
  WHERE [Id_Usuario]=@IdUsuario
END
GO

----PROCEDIMIENTOS CRUD AUDITORIA
CREATE PROCEDURE [dbo].[USP_Filtrar_Auditoria]
(
@Usuario int,
@Accion nvarchar(10),
@Desde DATETIME,
@Hasta DATETIME
)
AS BEGIN 
SET DATEFORMAT DMY
SELECT 
	   [Fecha] as [Fecha / Hora]
      ,CASE LTRIM(RTRIM([Accion])) WHEN 'A' THEN 'Actualizar' WHEN 'E' THEN 'Eliminar' WHEN 'I' THEN 'Insertar' ELSE 'N/A' END [Accion]
      ,[Descripción]
      
  FROM [dbo].[Auditoria]
  WHERE Id_Usuario=@Usuario 
		AND 
			(
				CAST(Fecha as DATE)>=CAST(@Desde AS DATE) 
					AND 
				CAST(Fecha as DATE)<=CAST(@Hasta AS DATE) 
			 )
		AND Accion = CASE LTRIM(RTRIM(@Accion)) WHEN 'T' THEN Accion ELSE @Accion END
END
GO

----PROCEDIMIENTOS CRUD Productos
CREATE PROCEDURE [dbo].[USP_Listar_Productos]
AS BEGIN
SELECT [Id_Producto]
      ,[Descripcion]
  FROM [dbo].[Productos]
END
GO


----PROCEDIMIENTOS CRUD Ordenes

CREATE PROCEDURE [dbo].[USP_Listar_Ordenes]
AS BEGIN 

  SELECT ORD.[Id_Orden]
      ,[Solicitante] [Solicitante]
      ,PRV.[Proveedor]
      ,CAST([Fecha_Orden] AS date)
  FROM [dbo].[Ordenes] ORD
  INNER JOIN Proveedores PRV ON PRV.Id_Proveedor = ORD.Id_Proveedor
END
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Ordenes]
(
@Solicitante VARCHAR(50),
@Proveedor int
)
AS BEGIN 

  SELECT ORD.[Id_Orden]
      ,ORD.[Solicitante] [Solicitante]
      ,PRV.[Proveedor]
      ,CAST(ORD.[Fecha_Orden] AS date)
  FROM [dbo].[Ordenes] ORD
  INNER JOIN Proveedores PRV ON PRV.Id_Proveedor = ORD.Id_Proveedor
  WHERE LTRIM(RTRIM([Solicitante])) LIKE '%' + LTRIM(RTRIM(@Solicitante)) +'%'
		AND ORD.[Id_Proveedor] = CASE @Proveedor WHEN 0 THEN ORD.[Id_Proveedor] ELSE @Proveedor END
END
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Ordenes]
(
@IdOrden INT
)
AS BEGIN 

SELECT 
		ORD.[Id_Orden],
		ORD.[Solicitante],
		ORD.[DiasCredito],
		CONVERT(VARCHAR,day(ORD.[Fecha_Orden]))  + '/' + CONVERT(VARCHAR,MONTH(ORD.[Fecha_Orden])) + '/' + CONVERT(VARCHAR,year(ORD.[Fecha_Orden])),
		ORD.[Id_Proveedor],
		ORD.[TipoOrden],
		ORD.[Descripcion],
		ORD.[Estado]
  FROM [dbo].[Ordenes] ORD
  INNER JOIN [Proveedores] PRV ON PRV.Id_Proveedor = ORD.Id_Proveedor
  WHERE [Id_Orden]=@IdOrden
END
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Ordenes]
(
@Solicitante varchar(50),
@DiasCredito int,
@Fecha_Orden datetime,
@Id_Proveedor int,
@TipoOrden char(1),
@Descripcion nvarchar(500),
@Estado char(1),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF NOT EXISTS(SELECT Id_Orden FROM Ordenes WHERE Solicitante=@Solicitante AND Id_Proveedor=@Id_Proveedor)
	BEGIN
		INSERT INTO  [dbo].[Ordenes]
		(
			[Solicitante],
			[DiasCredito],
			[Fecha_Orden],
			[Id_Proveedor],
			[TipoOrden],
			[Descripcion],
			[Estado]
		)
		VALUES
		(
			@Solicitante,
			@DiasCredito,
			CAST(@Fecha_Orden AS date),
			@Id_Proveedor,
			@TipoOrden,
			@Descripcion,
			@Estado
		)

		SELECT @@IDENTITY

		-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @ACC CHAR(1)
		SET @DSC = 'Inserta la información de la orden de compra ' + RTRIM(LTRIM(@Solicitante)) + '. Id Registro: ' + CONVERT(VARCHAR,@@IDENTITY)
		SET @ACC = 'I'

		INSERT INTO Auditoria
		(
		Id_Usuario, Accion, Descripción, Fecha
		)
		SELECT
		@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
		-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
	END
	ELSE
	BEGIN
		SELECT -1
	END
END TRY
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Ordenes]
(
@IdOrden int,
@Solicitante varchar(50),
@DiasCredito int,
@Fecha_Orden datetime,
@Id_Proveedor int,
@TipoOrden char(1),
@Descripcion nvarchar(500),
@Estado char(1),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
SET DATEFORMAT DMY
	IF NOT EXISTS(SELECT Id_Orden FROM Ordenes WHERE Solicitante=@Solicitante AND Id_Proveedor=@Id_Proveedor AND Id_Orden NOT IN (@IdOrden))
	BEGIN
		UPDATE [dbo].[Ordenes]
		SET
			   [Solicitante]=@Solicitante
			  ,[DiasCredito]=@DiasCredito
			  ,[Fecha_Orden]=CAST(@Fecha_Orden AS DATE)
			  ,[Id_Proveedor]=@Id_Proveedor
			  ,[TipoOrden]=@TipoOrden
			  ,[Descripcion]=@Descripcion
			  ,[Estado]=@Estado
		WHERE Id_Orden=@IdOrden
		SELECT @IdOrden
		-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @ACC CHAR(1)
		SET @DSC = 'Actualiza la información de la orden de compra ' + RTRIM(LTRIM(@Solicitante)) + '. Id Registro: ' + CONVERT(VARCHAR,@IdOrden)
		SET @ACC = 'A'

		INSERT INTO Auditoria
		(
		Id_Usuario, Accion, Descripción, Fecha
		)
		SELECT
		@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
		-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
	END
	ELSE
	BEGIN
		SELECT -1
	END
END TRY
BEGIN CATCH
	SELECT 0
END CATCH


END
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Ordenes]
(
@IdOrden int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF NOT EXISTS(SELECT Id_Orden FROM Productos_X_Orden WHERE Id_Orden=@IdOrden)
	BEGIN
		-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
		DECLARE @DSC VARCHAR(MAX)
		DECLARE @NOMBRE VARCHAR(200)
		DECLARE @ACC CHAR(1)

		SELECT @NOMBRE=RTRIM(LTRIM(Solicitante)) FROM Ordenes WHERE Id_Orden=@IdOrden

		SET @DSC = 'Elimina la información de la orden de compra ' + RTRIM(LTRIM(@NOMBRE)) + '. Id Registro: ' + CONVERT(VARCHAR,@IdOrden)
		SET @ACC = 'E'

		INSERT INTO Auditoria
		(
		Id_Usuario, Accion, Descripción, Fecha
		)
		SELECT
		@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
		-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------

		DELETE FROM Ordenes WHERE Id_Orden=@IdOrden
		SELECT @IdOrden
	END
	ELSE
	BEGIN
		SELECT -1
	END
END TRY
BEGIN CATCH
	SELECT 0
END CATCH


END
GO


----PROCEDIMIENTOS CRUD Productos X Orden
CREATE PROCEDURE [dbo].[USP_Listar_Productos_X_Orden]
(
@IdOrden int
)
AS BEGIN
  SELECT [Id_Producto_Orden]
      ,[Descripcion]
  FROM [dbo].[Productos_X_Orden] EXV
  INNER JOIN [dbo].[Productos] EXT ON EXT.Id_Producto=EXV.Id_Producto
  WHERE Id_Orden=@IdOrden
END
GO

CREATE PROCEDURE [dbo].[USP_Mantenimiento_Productos_X_Orden]
(
@IdOrden int,
@IdProducto int,
@IdProductoOrden int,
@Accion char(1),
@IdUsuario_Global int
)
AS BEGIN 
	DECLARE @DSC VARCHAR(MAX)
	DECLARE @NOMBRE_Orden VARCHAR(300)
	DECLARE @NOMBRE_PRODUCTO VARCHAR(50)
	DECLARE @ACC CHAR(1)

	IF @Accion = 'I' 
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM [Productos_X_Orden] WHERE Id_Producto=@IdProducto and Id_Orden=@IdOrden)
		BEGIN
			INSERT INTO [dbo].[Productos_X_Orden]
			(
			Id_Producto, Id_Orden
			)
			VALUES
			(
			@IdProducto, @IdOrden
			)

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			SELECT @NOMBRE_Orden = RTRIM(LTRIM(Solicitante)) FROM Ordenes WHERE Id_Orden=@IdOrden
			SELECT @NOMBRE_PRODUCTO = RTRIM(LTRIM(Descripcion)) FROM Productos WHERE Id_Producto=@IdProducto
			SET @DSC = 'Incluye un producto a la orden de compra ' + RTRIM(LTRIM(@NOMBRE_Orden)) + '. Producto: ' + RTRIM(LTRIM(@NOMBRE_PRODUCTO))
			SET @ACC = 'I'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------


			SELECT 1  --SE DEVUELVE VALOR 1 PARA INDICAR QUE FUE CORRECTO EL PROCESO
		END
		ELSE
		BEGIN
			SELECT -1 --SE DEVUELVE VALOR 0 PARA INDICAR QUE LA PERSONA YA TIENE ASIGNADO EL PERFIL QUE SE INTENTA INCLUIR
		END
	END
	ELSE
	BEGIN
		
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			
			SELECT @NOMBRE_Orden = RTRIM(LTRIM(Solicitante))
			FROM Ordenes ORD
			INNER JOIN [Productos_X_Orden] EXV ON EXV.Id_Orden=ORD.Id_Orden
			WHERE [Id_Producto_Orden]=@IdProductoOrden
			
			SELECT @NOMBRE_PRODUCTO = RTRIM(LTRIM(Descripcion)) 
			FROM Productos EXT
			INNER JOIN [Productos_X_Orden] EXV ON EXV.Id_Producto=EXT.Id_Producto
			WHERE [Id_Producto_Orden]=@IdProductoOrden
			
			SET @DSC = 'Elimina un producto a la orden de compra ' + RTRIM(LTRIM(@NOMBRE_Orden)) + '. Producto: ' + RTRIM(LTRIM(@NOMBRE_PRODUCTO))
			SET @ACC = 'E'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------

			DELETE FROM [dbo].[Productos_X_Orden] WHERE [Id_Producto_Orden]=@IdProductoOrden

			SELECT 1 --SE DEVUELVE VALOR 1 PARA INDICAR QUE FUE CORRECTO EL PROCESO
	END
END
GO


----PROCEDIMIENTOS CRUD Proveedores
CREATE PROCEDURE [dbo].[USP_Listar_Proveedores]
AS BEGIN
SELECT  [Id_Proveedor]
      , [Proveedor]
	  , [Telefono]
	  , [Correo]
	  , CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
  FROM [dbo].[Proveedores]
END
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Proveedores]
(
@Proveedor nvarchar(50),
@Estado nvarchar(10)
)
AS BEGIN 

SELECT  [Id_Proveedor]
      , [Proveedor]
	  , [Telefono]
	  , [Correo]
	  , CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
  FROM [dbo].[Proveedores]
  WHERE LTRIM(RTRIM(Proveedor))  LIKE '%' + LTRIM(RTRIM(@Proveedor)) +'%'
		AND Estado = @Estado
END
GO

CREATE PROCEDURE [dbo].[USP_Informacion_Proveedores]
(
@IdProveedor INT
)
AS BEGIN 
SET DATEFORMAT DMY
SELECT 
	[Id_Proveedor],
	[Proveedor],
	[Telefono],
	[Correo],
	[Pais],
	[Direccion],
	[Estado]
  FROM [dbo].[Proveedores] 
  WHERE [Id_Proveedor]=@IdProveedor
END
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Proveedores]
(
@Proveedor nvarchar(50),
@Telefono nvarchar(8),
@Correo nvarchar(50),
@Pais nvarchar(3),
@Direccion nvarchar(500),
@Estado char(1),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
SET DATEFORMAT DMY
	IF NOT EXISTS(SELECT Id_Proveedor FROM Proveedores WHERE Proveedor=@Proveedor)
	BEGIN 
		INSERT INTO  [dbo].[Proveedores]
		(
			[Proveedor],
			[Telefono],
			[Correo],
			[Pais],
			[Direccion],
			[Estado]
		)
		VALUES
		(
			@Proveedor,
			@Telefono,
			@Correo,
			@Pais,
			@Direccion,
			@Estado
		)
		SELECT @@IDENTITY

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @ACC CHAR(1)
			SET @DSC = 'Incluye la información del Proveedor ' + RTRIM(LTRIM(@Proveedor)) + '. Id Registro: ' + CONVERT(VARCHAR,@@IDENTITY)
			SET @ACC = 'I'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------

	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY
BEGIN CATCH
		SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Proveedores]
(
@IdProveedor int,
@Proveedor nvarchar(50),
@Telefono nvarchar(8),
@Correo nvarchar(50),
@Pais nvarchar(3),
@Direccion nvarchar(500),
@Estado char(1),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
SET DATEFORMAT DMY
	IF NOT EXISTS(SELECT Id_Proveedor FROM Proveedores WHERE Proveedor=@Proveedor and Id_Proveedor not in(@IdProveedor)) 
	BEGIN

		UPDATE [dbo].[Proveedores]
		SET
			   [Proveedor]=@Proveedor,
			   [Telefono]=@Telefono,
			   [Correo]=@Correo,
			   [Pais]=@Pais,
			   [Direccion]=@Direccion,
			   [Estado]=@Estado
		WHERE Id_Proveedor=@IdProveedor

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @ACC CHAR(1)
			SET @DSC = 'Actualiza la información del Proveedor ' + RTRIM(LTRIM(@Proveedor)) +  '. Id Registro: ' + CONVERT(VARCHAR,@IdProveedor)
			SET @ACC = 'A'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------

		SELECT @IdProveedor
	END
	ELSE
	BEGIN
		SELECT -1
	END
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Proveedores]
(
@IdProveedor int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF (
		NOT EXISTS(SELECT Id_Orden FROM Ordenes WHERE Id_Proveedor=@IdProveedor)
		)
	BEGIN

				-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @Proveedor VARCHAR(50)
			DECLARE @ACC CHAR(1)

			SELECT @Proveedor=RTRIM(LTRIM(Proveedor)) FROM Proveedores
			WHERE Id_Proveedor=@IdProveedor

			SET @DSC = 'Elimina la información del Proveedor ' + RTRIM(LTRIM(@Proveedor)) + '. Id Registro: ' + CONVERT(VARCHAR,@IdProveedor)
			SET @ACC = 'E'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------



		DELETE FROM Proveedores
		WHERE Id_Proveedor=@IdProveedor

		SELECT @IdProveedor
	END
	ELSE
	BEGIN
		SELECT -1
	END
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

----PROCEDIMIENTOS CRUD USUARIOS

CREATE PROCEDURE [dbo].[USP_Listar_Usuarios]
AS BEGIN 

SELECT [Id_Usuario]
      ,[Correo]
      ,[Nombre] + ' ' + [Prim_Apellido] + ' ' + [Seg_Apellido] [Nombre]
      ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
  FROM [dbo].[Usuarios]
END
GO

CREATE PROCEDURE [dbo].[USP_Filtrar_Usuarios]
(
@Correo nvarchar(50),
@Nombre nvarchar(150),
@Estado nvarchar(10)
)
AS BEGIN 

SELECT [Id_Usuario]
      ,[Correo]
      ,[Nombre] + ' ' + [Prim_Apellido] + ' ' + [Seg_Apellido] [Nombre]
      ,CASE LTRIM(RTRIM([Estado])) WHEN 'A' THEN 'Activo' ELSE 'Inactivo' END [Estado]
  FROM [dbo].[Usuarios]
  WHERE LTRIM(RTRIM([Nombre]))+' '+LTRIM(RTRIM([Prim_Apellido]))+' '+LTRIM(RTRIM([Seg_Apellido])) LIKE '%' + LTRIM(RTRIM(@Nombre)) +'%'
		AND LTRIM(RTRIM([Correo])) LIKE '%' +  LTRIM(RTRIM(@Correo)) +'%'
		AND Estado = CASE LTRIM(RTRIM(@Estado)) WHEN '' THEN Estado WHEN 'Activo' THEN 'A' ELSE 'I' END
END
GO

CREATE PROCEDURE [dbo].[USP_Insertar_Usuarios]
(
@Nombre varchar(50),
@Prim_Apellido varchar(50),
@Seg_Apellido varchar(50),
@Correo varchar(50),
@Estado varchar(10),
@Password varchar(25),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF NOT EXISTS(SELECT Id_Usuario FROM USUARIOS WHERE Correo=@Correo)
	BEGIN 
		INSERT INTO  [dbo].[Usuarios]
		(
			   [Nombre]
			  ,[Prim_Apellido]
			  ,[Seg_Apellido] 
			  ,[Estado]
			  ,[Correo]
			  ,[Password]
		)
		VALUES
		(
			@Nombre,
			@Prim_Apellido,
			@Seg_Apellido,
			CASE LTRIM(RTRIM(@Estado)) WHEN 'Activo' THEN 'A' ELSE 'I' END,
			@Correo,
			@Password
		)
		SELECT @@IDENTITY

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @ACC CHAR(1)
			SET @DSC = 'Incluye la información del Usuario ' + RTRIM(LTRIM(@Nombre)) + ' ' + RTRIM(LTRIM(@Prim_Apellido)) + ' ' +  RTRIM(LTRIM(@Seg_Apellido)) + '. Id Registro: ' + CONVERT(VARCHAR,@@IDENTITY)
			SET @ACC = 'I'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------

	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY
BEGIN CATCH
		SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Modificar_Usuarios]
(
@IdUsuario int,
@Nombre varchar(50),
@Prim_Apellido varchar(50),
@Seg_Apellido varchar(50),
@Correo varchar(50),
@Estado varchar(10),
@Password varchar(25),
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF NOT EXISTS(SELECT Id_Usuario FROM Usuarios WHERE Correo=@Correo and Id_Usuario not in(@IdUsuario)) 
	BEGIN
		UPDATE [dbo].[Usuarios]
		SET
			   [Nombre]=@Nombre
			  ,[Prim_Apellido]=@Prim_Apellido
			  ,[Seg_Apellido] =@Seg_Apellido
			  ,[Estado]=CASE LTRIM(RTRIM(@Estado)) WHEN 'Activo' THEN 'A' ELSE 'I' END
			  ,[Password]=@Password
			  ,[Correo]=@Correo
		WHERE Id_Usuario=@IdUsuario

			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @ACC CHAR(1)
			SET @DSC = 'Actualiza la información del Usuario ' + RTRIM(LTRIM(@Nombre)) + ' ' + RTRIM(LTRIM(@Prim_Apellido)) + ' ' +  RTRIM(LTRIM(@Seg_Apellido)) +  '. Id Registro: ' + CONVERT(VARCHAR,@IdUsuario)
			SET @ACC = 'A'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------

		SELECT @IdUsuario
	END
	ELSE
	BEGIN
		SELECT -1
	END
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_Usuarios]
(
@IdUsuario int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF (NOT EXISTS(SELECT Id_Auditoria FROM Auditoria WHERE Id_Usuario=@IdUsuario)
		AND NOT EXISTS (SELECT Id_Modulo_Usuario FROM Modulos_X_Usuario WHERE Id_Usuario=@IdUsuario) 
		)
	BEGIN

				-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @USUARIO VARCHAR(250)
			DECLARE @ACC CHAR(1)

			SELECT @USUARIO=RTRIM(LTRIM(Nombre)) + ' ' + RTRIM(LTRIM(Prim_Apellido)) + ' ' +  RTRIM(LTRIM(Seg_Apellido))FROM Usuarios
			WHERE Id_Usuario=@IdUsuario

			SET @DSC = 'Elimina la información del Usuario ' + RTRIM(LTRIM(@USUARIO)) + '. Id Registro: ' + CONVERT(VARCHAR,@IdUsuario)
			SET @ACC = 'E'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------



		DELETE FROM Usuarios
		WHERE Id_Usuario=@IdUsuario

		SELECT @IdUsuario
	END
	ELSE
	BEGIN
		SELECT -1
	END
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

----PROCEDIMIENTOS CRUD MODULOS 
CREATE PROCEDURE [dbo].[USP_Listar_Modulos]
AS BEGIN

SELECT [Id_Modulo]
      ,[Modulo]
  FROM [dbo].[Modulos]
  ORDER BY Id_Modulo
END
GO

----PROCEDIMIENTOS CRUD USUARIOS_X_USUARIOS
CREATE PROCEDURE [dbo].[USP_Habilita_ModulosXUsuario]
(
@IdUsuario int
)
AS BEGIN
	SELECT 
	MDD.ID_MODULO AS ID_REAL, MDD.MODULO AS MODULO, CASE ISNULL(MXU.Id_Modulo,0) WHEN 0 THEN 'N' ELSE 'S' END AS ASIGNADO
	FROM MODULOS MDD
	LEFT JOIN Modulos_X_Usuario MXU ON MDD.Id_Modulo=MXU.Id_Modulo AND MXU.Id_Usuario=@IdUsuario
	ORDER BY ID_REAL
END
GO
	
CREATE PROCEDURE [dbo].[USP_Listar_ModulosXUsuario]
(
@IdUsuario int
)
AS BEGIN
 SELECT 0 [Id_Modulo_Usuario],
	    'Panel Principal' [Modulo],
		'fa fa-tachometer' [ClaseCss],
		'frmPrincipal.aspx' [Enlace],
		0 AS MODL
 UNION
 SELECT [Id_Modulo_Usuario]
      ,[Modulo]
	  ,[ClaseCss]
	  ,[Enlace]
	  ,MDS.Id_Modulo AS MODL
  FROM [dbo].[Modulos_X_Usuario] MXU
  INNER JOIN Modulos MDS ON MDS.Id_Modulo=MXU.Id_Modulo
  WHERE Id_Usuario=@IdUsuario
  ORDER BY (4) ASC
END
GO

CREATE PROCEDURE [dbo].[USP_Insertar_ModulosXUsuario]
(
@IdModulo int,
@IdUsuario int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY
	IF NOT EXISTS(SELECT Id_Modulo_Usuario FROM Modulos_X_Usuario WHERE Id_Usuario=@IdUsuario AND Id_Modulo=@IdModulo)
	BEGIN 
		INSERT INTO  [dbo].[Modulos_X_Usuario]
		(
			   Id_Usuario
			  ,Id_Modulo
		)
		VALUES
		(
			@IdUsuario,
			@IdModulo
		)
		SELECT @@IDENTITY


					-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @ACC CHAR(1)
			DECLARE @MODULO VARCHAR(50)
			DECLARE @USUARIO VARCHAR(250)

			SELECT @MODULO=Modulo FROM Modulos WHERE Id_Modulo=@IdModulo
			SELECT @USUARIO= RTRIM(LTRIM(Nombre)) + ' ' + RTRIM(LTRIM(Prim_Apellido)) + ' ' +  RTRIM(LTRIM(Seg_Apellido)) FROM Usuarios WHERE Id_Usuario=@IdUsuario

			SET @DSC = 'Asigna el módulo ' + RTRIM(LTRIM(@MODULO)) + ' al Usuario ' + RTRIM(LTRIM(@USUARIO)) +  '. Id Registro: ' + CONVERT(VARCHAR,@@IDENTITY)
			SET @ACC = 'I'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------


	END
	ELSE
	BEGIN
		SELECT -1
	END
	
END TRY
BEGIN CATCH
		SELECT 0
END CATCH
END
GO

CREATE PROCEDURE [dbo].[USP_Eliminar_ModulosXUsuario]
(
@IdModuloUsuario int,
@IdUsuario_Global int
)
AS BEGIN 
BEGIN TRY

					-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------
			DECLARE @DSC VARCHAR(MAX)
			DECLARE @ACC CHAR(1)
			DECLARE @MODULO VARCHAR(50)
			DECLARE @USUARIO VARCHAR(250)

			SELECT @MODULO=Modulo 
			FROM Modulos MDD
			INNER JOIN Modulos_X_Usuario MXU ON MXU.Id_Modulo=MDD.Id_Modulo
			WHERE Id_Modulo_Usuario=@IdModuloUsuario
			
			
			SELECT @USUARIO= RTRIM(LTRIM(Nombre)) + ' ' + RTRIM(LTRIM(Prim_Apellido)) + ' ' +  RTRIM(LTRIM(Seg_Apellido)) 
			FROM Usuarios USR
			INNER JOIN Modulos_X_Usuario MXU ON MXU.Id_Usuario=USR.Id_Usuario
			WHERE Id_Modulo_Usuario=@IdModuloUsuario

			SET @DSC = 'Elimina el módulo ' + RTRIM(LTRIM(@MODULO)) + ' al Usuario ' + RTRIM(LTRIM(@USUARIO)) +  '. Id Registro: ' + CONVERT(VARCHAR,@IdModuloUsuario)
			SET @ACC = 'E'

			INSERT INTO Auditoria
			(
			Id_Usuario, Accion, Descripción, Fecha
			)
			SELECT
			@IdUsuario_Global, @ACC, RTRIM(LTRIM(@DSC)) , GETDATE()
			-----------------------PARA EL CONTROL DE AUDITORIA DEL SISTEMA-------------------------------------------


		DELETE FROM Modulos_X_Usuario WHERE Id_Modulo_Usuario=@IdModuloUsuario
		SELECT @IdModuloUsuario
	
END TRY 
BEGIN CATCH
	SELECT 0
END CATCH
END
GO

----PROCEDIMIENTOS CRUD PANEL DE CONTROL
CREATE PROCEDURE [dbo].[USP_Listar_Grafico_Tablas]
AS BEGIN
	
	DECLARE @Usuarios INT
	DECLARE @Productos INT
	DECLARE @Proveedores INT
	DECLARE @Ordenes INT

	SET @Usuarios= (SELECT ISNULL(COUNT(Id_Usuario),0) FROM Usuarios)
	SET @Productos= (SELECT ISNULL(COUNT(Id_Producto),0) FROM Productos)
	SET @Proveedores= (SELECT ISNULL(COUNT(Id_Proveedor),0) FROM Proveedores)
	SET @Ordenes= (SELECT ISNULL(COUNT(Id_Orden),0) FROM Ordenes)

	SELECT @Usuarios AS Usuarios, @Productos AS Productos, @Proveedores AS Proveedores, @Ordenes AS Ordenes

END
GO

CREATE PROCEDURE [dbo].[USP_Listar_Cantidad_OrdenesXProveedor]
AS BEGIN
		SELECT  PRV.Proveedor, COUNT(ORD.Id_Orden) AS Total
		FROM Proveedores PRV	
		LEFT JOIN Ordenes ORD ON PRV.Id_Proveedor=ORD.Id_Proveedor
		GROUP BY PRV.Proveedor
		ORDER BY PRV.Proveedor
END
GO






